.submit-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    height: var(--input-height);
    border-radius: var(--border-radius);
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 1em;
}

.submit-button:hover:not(:disabled) {
    background-color: var(--primary-color-dark);
}