.logo-banner-image-container {
    position: relative;
    height: 100%;
    max-height: 150px;
    width: 100%;
    overflow: hidden;
}

.logo-banner-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.banner-color-fallback {
    width: 100%;
    height: 100%;
    min-height: 150px;
}

.no-image {
    object-fit: cover;
    width: 100%;
}