.navigation {
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--bg-color);
  backdrop-filter: blur(8px);
}

.navigation-container {
  min-width: fit-content;
  max-width: 90vw;
  margin: 0 auto; 
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5vw;
}

.navigation-links {
  display: flex;
  align-items: center;
  gap: 3vw;
  padding: 0.5rem 0;
}

.navigation-logo {
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
  letter-spacing: 0.7px;
  font-weight: 500;
  text-decoration: none;
  color: var(--text-color);
}

.navigation-actions {
  margin-left: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.three-dots-icon{
  color: var(--text-secondary);
  cursor: pointer;
}

.three-dots-icon:hover{
  color: var(--text-color);
}