.delete-category-card {
    width: 100%;
    height: 100%;
}

.form-delete-category {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.delete-categories-section {
    overflow-y: scroll;
    height: 40vh;
}