.form-input {
    padding: 0 0.8rem;
    height: var(--input-height);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    background-color: var(--input-bg);
    color: var(--text-color);
    width: 100%;
    transition: border-color 0.2s;
    font-size: 1em;
}

.form-input::placeholder {
    color: var(--text-placeholder);
}

.form-input:focus {
    outline: none;
    border-color: var(--primary-color);
}
