.no-websites {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--text-secondary);
}

.no-websites h2 {
    font-weight: 400;
    letter-spacing: 1px;
}