.form-textarea {
    padding: 0.5rem 0.75rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    background-color: var(--input-bg);
    color: var(--text-color);
    min-height: 200px;
    max-height: 300px;
    resize: vertical;
    width: 100% !important;
    font-size: 1em;
}

.form-textarea::placeholder {
    color: var(--text-placeholder);
}

.form-textarea:focus {
    outline: none;
    border-color: var(--primary-color);
}
