.empty-websites{
  width: 100%;
  margin-top: 4vh;
}

.website-grid {
  width: 100%;
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.1rem;
  row-gap: 3.5rem;
  height: 100%;
  padding: 0.5rem 0 5rem 0;
}

@media (min-width: 768px) {
  .website-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .website-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}