.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 1em;
}

.empty {
    margin-top: 8vh;
}