.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 51;
  animation: fadeIn 0.2s ease-out;
}

.modalContainer {
  background-color: var(--card-bg-primary);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  max-height: 90vh;
  animation: slideIn 0.3s ease-out;
  overflow: hidden;
}

.sizeS {
  width: 550px;
  min-height: 300px;
  height: fit-content;
  max-height: 80vh;
}

.sizeM {
  width: 550px;
  min-height: 500px;
  height: fit-content;
  max-height: 80vh;
}

.sizeL {
  width: 700px;
  height: 90%;
  max-height: 90vh;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--text-color);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.2s;
}

.closeButton:hover {
  background-color: #ffffff0d;
}

.modalHeader{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2em 3em 1.5em 3em;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--card-bg-primary);
  z-index: 10;
}

.modalContent-sizeS,
.modalContent-sizeM {
  padding: 2rem;
  margin-top: 4.5em;
}

.modalContent-sizeL {
  padding: 2rem;
  padding-bottom: 0;
  margin-top: 4.5em;
  overflow-y: scroll;
  height: calc(90vh - 10rem);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .sizeS, .sizeM, .sizeL {
    width: 95%;
    max-width: 95%;
  }
  
  .modalContent {
    padding: 1.5rem;
  }
}
