.template-toggle {
  margin: 0 auto;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  width: 100%;
}

.template-toggle-links {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--bg-secondary);
  border-radius: var(--border-radius);
}

.template-toggle-link {
  padding: 0.2rem 0.5rem;
  font-weight: 400;
  color: var(--text-secondary);
  border-radius: var(--border-radius);
  transition: all 0.2s;
}

.template-toggle-link:hover {
  color: var(--text-color);
  background-color: var(--bg-hover);
  cursor: pointer;
}

.template-toggle-link.active {
  color: var(--text-color);
  background-color: var(--primary-color);
}
