.selection {
  margin: 0 auto;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
}

.selection-links {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  background-color: var(--bg-secondary);
  border-radius: 0.5rem;
}

.selection-link {
  padding: 0.5rem 1rem;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: var(--text-secondary);
  border-radius: 0.375rem;
  transition: all 0.2s;
}

.selection-link:hover {
  color: var(--text-color);
  background-color: var(--bg-hover);
}

.selection-link.active {
  color: var(--text-color);
  background-color: var(--primary-color);
}

.divider{
  padding: 0.5rem 0;
  width: 1px;
  background-color: var(--text-secondary);
}

.selection-add {
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-secondary);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.selection-add:hover {
  color: var(--text-color);
}